{% include "headers.html" %}
<div class="row container mt-5">
    <div class="col-4">
        <div id="list-example" class="list-group">
            {% for choice in choices %}
            <a class="list-group-item list-group-item-action" href="#{{ choice['name'] }}">{{ choice['name'] }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="container col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
             tabindex="0">
          {% for choice in choices %}
            <h4 id="{{ choice['name'] }}"><a href="{{ url_for('choose_city', state=choice['iso2']) }}">{{ choice['name'] }}</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the
                librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to
                make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these
                sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word
                including versions of Lorem Ipsum.
            </p>
          {% endfor %}
        </div>
    </div>
</div>
{% include "footers.html" %}