{% include "headers.html" %}
<div class="hub-background py-5">
  <div class="container hub-border px-4 py-2">
      <h1 class="m">What's on your mind ...</h1>
    <div class="container mt-5">

      {% if not all_cities %}
      <a class="btn-control btn offset-5 py-5 mt-5" href="{{ url_for('choose_state') }}">
        <img class="rounded" src="static/images/addplan.jpg" alt="No current plans" width="150px">
        <span><h3>No current plans</h3></span>
      </a>
      {% endif %}

<!--      <a class="btn-control btn" href="">-->
<!--        <img class="rounded" src="static/images/nyc.jpg" alt="NYC pic" width="200px">-->
<!--        <span><h3>NYC</h3></span>-->
<!--      </a>-->

    </div>
  </div>
</div>
{% include "footers.html" %}