{% include "headers.html" %}
<div class="background py-5 px-4">
  <div class="row gap-5">
        <div class="container row rounded py-5 login-border px-5 offset-1 col-lg-6">
            <h1 class="mt-3 offset-1">Sign Up</h1>
            <form action="{{ url_for('signup') }}" method="post">
                <input name="name" class="form col-lg-9 offset-1 py-3" placeholder="Name" type="text">
                <input name="password" class="form col-lg-9 offset-1 mt-3 py-3" placeholder="Password" type="password">
                <button name="submit" type="submit" class="offset-1 login-btn btn mt-5 col-lg-7">Register</button>
            </form>
            <a href="{{ url_for('login') }}" class="text-light offset-1">Have An Account Login</a>
        </div>
        <img class="col-lg-5" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3B2a3BrbngzcHhsN2Z2eGlvNXp3YzNiZGZlaG56azh2dGszejZ4bSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/cqcH8aAjZluoRSfdQl/giphy.gif" alt="Logo" height="500px">
    </div>
</div>
{% include "footers.html" %}